# PANDAS  , 1D data structure

# series

In [7]:
import pandas as pd
x = [1,2,3,4]
var = pd.Series(x , index = ['a' ,'b' ,'c' , 'd'] , dtype = 'float')
print(var)
print(type(var))
print(var[2])

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
<class 'pandas.core.series.Series'>
3.0

In [11]:
dic  = {'name' : ['python' , 'c' , 'c++' , 'java'] , 
        "pop" : [12,13,14,15] , 'rank' : [1,3,4,2]}
       
var1 = pd.Series(dic)   #jab mix data ka use krte h to data type object aati h isme string, int sab h 
print(var1)

name    [python, c, c++, java]
pop           [12, 13, 14, 15]
rank              [1, 3, 4, 2]
dtype: object

In [13]:
s = pd.Series(12)
print(s)

0    12
dtype: int64

In [14]:
s = pd.Series(12 , index = [1,2,3,4,5] )
print(s)

1    12
2    12
3    12
4    12
5    12
dtype: int64

# adding two pandas series

In [15]:
s1 = pd.Series(12 , index = [1,2,3,4,5,6,7,8])
s2 = pd.Series(13 , index = [1,2,3,4,4])
print(s1+s2)

1    25.0
2    25.0
3    25.0
4    25.0
4    25.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

# DATA FRAME 2D data structre

In [16]:
x = [10 , 11 , 12 , 12, 13, 14]
var = pd.DataFrame(x)
print(var)
print(type(var))

    0
0  10
1  11
2  12
3  12
4  13
5  14
<class 'pandas.core.frame.DataFrame'>

In [17]:
dic = {"name" : ['ankita' , 'rashi' , 'rushali'] , 'salary':[90000,100000,80000]}
#length should be same 
var1 = pd.DataFrame(dic)
print(var1)
print(type(var1))

      name  salary
0   ankita   90000
1    rashi  100000
2  rushali   80000
<class 'pandas.core.frame.DataFrame'>

# column indexing in data frame

In [18]:
dic2 = {'fname' : ['ankita' , 'rashi' , 'anku' , 'rushali'] ,
        'lname' : ['tiwari' , 'tiwari'] ,
         'salary' : [90000,80000,70000 , 98000] ,
         1 : [1,2,3,4]}
var = pd.DataFrame(dic2 , columns =['fname' , 'salary'])
print(var)

     fname  salary
0   ankita   90000
1    rashi   80000
2     anku   70000
3  rushali   98000

# to get data from rows

In [25]:
dic2 = {'fname' : ['ankita' , 'rashi' , 'anku' , 'rushali'] ,
        'lname' : ['tiwari' , 'tiwari' , 'tiwari' , 'tiwari'] ,
         'salary' : [90000,80000,70000 , 98000] ,
         1 : [1,2,3,4]}
var1 = pd.DataFrame(dic2)
print(var1)

print(var1['fname'][0] )

     fname   lname  salary  1
0   ankita  tiwari   90000  1
1    rashi  tiwari   80000  2
2     anku  tiwari   70000  3
3  rushali  tiwari   98000  4
ankita

In [27]:
#using list
list1 = [[1,2,3,4],['hi' , 'hello' , 'hnmm' ,'ok']]
var2 = pd.DataFrame(list1)
print(var2)

    0      1     2   3
0   1      2     3   4
1  hi  hello  hnmm  ok

In [29]:
s1 = {'s': pd.Series([1,2,3,4]), 'p': pd.Series([12,23,34,44])}
var3 = pd.DataFrame(s1)
print(var3)

   s   p
0  1  12
1  2  23
2  3  34
3  4  44